<section class="ftco-section contact-section">
  <div class="container">

    <div class="col-md-12 d-flex justify-content-center">
      <div class="col-8 text-center">
        <h2 class="h4 font-weight-bold">Udacity Nanodegree</h2>
        <img class="certificate" src="assets/images/udacity_nanodegree.png" style="width:100%">
      </div>
    </div>

    <div class="row d-flex mb-5 contact-info">
      <div class="col-md-12 mb-4 text-center">
        <h2 class="h4 font-weight-bold">Contact Information</h2>
      </div>
      <div class="w-100"></div>
      <div class="col-md-4">
        <p><span>Address: </span>Mumbai, India</p>
      </div>
      <div class="col-md-4">
        <p><span>Phone: </span> <a href="tel://+919969622998">+91 99696 22998</a></p>
      </div>
      <div class="col-md-4">
        <p><span>Email: </span> <a target="_blank" href="mailto:info@umangpandya.com">info@umangpandya.com</a></p>
      </div>
    </div>

    <div class="row block-9">
      <div class="col-md-6 order-md-last pr-md-5">
        <form action="#">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Your Name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Your Email">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Subject">
          </div>
          <div class="form-group">
            <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
          </div>
        </form>
      </div>
    </div>

  </div>
</section>
